body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./images/photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: transparent;
  margin-bottom: 50px;
  font-weight: 800;
  -webkit-background-clip: text;
  background-image: url(./images/orangebg.jpg);
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: transparent;
  margin-bottom: 20px;
  font-weight: 800;
  -webkit-background-clip: text;
  background-image: url(./images/orangebg.jpg);
}

.Data-Input {
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow here */
}

#Category {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow here */
}

.Data-Input label {
  font-weight: bold;
  margin-right: 10px;
}

.Data-Input input[type="number"],
.Data-Input input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

td button {
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
}

.Data-Input button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

/* .Data-Display {
  margin: 20px;
} */

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ccc;
  opacity: 0.9;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #046307;
  color: white;
}

tfoot td {
  font-weight: bold;
}

.edit-button {
  padding: 5px 10px;
  background-color: #4caf50;
  margin: 0 15px;
}

.delete-button {
  padding: 5px 10px;
  background-color: #f44336;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .Data-Input {
    flex-direction: column;
    gap: 10px;
  }

  .Data-Input input[type="number"],
  .Data-Input input[type="date"] {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .Data-Display {
    margin: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #4caf50;
    color: white;
  }

  tfoot td {
    font-weight: bold;
  }

  td button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
